@inject IJSRuntime _jsRuntime

<MudPaper>
    <MudContainer>
        <MudText Typo="Typo.h6">OmniFaq</MudText>
        <div id='viewer' style='width: 1024px; height: 600px; margin: 0 auto;'></div>
    </MudContainer>
</MudPaper>

@code {

}